@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap&family=Nanum+Pen+Script&display=swap');
@import 'variables.css';

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 1.05rem;
}

body {
    color: var(--color-4readingFront);
    background-color: var(--color-back);
    font-family: "Montserrat", sans-serif;
    line-height: 1.4;
    color: var(--color-4readingFront);
    
    /* ------ базовые настройки. назначение отступов ------*/
    & p {
        margin-block: 1rem;
    }
    & h1, details {
        margin-block: 1.25rem;
    }
    & h3 {
        margin-block: 1.15rem;
    }
    & ul {
        padding-left: 2.5rem;
    }
}

main {
    margin: 50px auto;
    background-color: var(--color-back_second);
    border-radius: var(--bordeRadius);
    width: 70vw;
    padding: 30px 50px 50px;
}

/* ------ таблицы (все кроме данных с sql ------*/
table:has(:not(#dataTable)) {
    border-collapse: collapse;
    width: 100%;

    & td, th {
        padding: 4.5px 20px;
        text-align: left;
    }

    /* линия пунктирная между строками (вниз всем кроме последней) */
    & tr:not(:last-child) {
        border-bottom: 1px var(--color-25proc) dotted;
    }
}




a, a:visited {
    text-decoration: none;
    color: #3369D6
}


small {
    opacity: 0.5;
}

hr {
    margin-block: 2rem;
}

.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mono {
    font-family: monospace;
}

#proj_name {
    font-size: 3rem;
    font-weight: 700;
    cursor: pointer;
}


/* [code] выделенные слова в тезисе о уроке(index) или самом уроке */
code {
    background-color: rgb(128 128 128 / 0.5);
    padding: 3px 5px;
    border-radius: 5px;
}
article code {
    margin: 0 5px;
}



/* ======= АДАПТИВ (мобилки) ======= */
@media (max-width: 768px) {
    main {
        padding: 5vw;
        width: 80vw;
    }
}


/* ==================== OTHER ==================== */
#github img {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;
    width: 50px;
    filter: var(--invert);
}


/* кнопка завершения уровня с уроком + кнопка в index  */
.btn, .btn:visited {

    padding: 7px 20px;
    margin-bottom: 1rem;
    border-radius: var(--bordeRadius);
    min-height: 50px;
    font-weight: 700;
    background-color: #60B358;
    /* box-shadow: 0 5px 0 #4d9146; */
    color: #fff;

    /* выравнивание текста по центру */
    display: grid;
    place-items: center;

    &.disabled {
        box-shadow: none;
        background-color: var(--color-disabledNext);
        color: var(--color-4readingFront);
        opacity: 0.2;
    };

    /* &:active {
        box-shadow: none;
        transform: translateY(5px);
    } */
}